rules_version = '2';
service cloud.firestore {
  match /databases/ai-studio-remix-501502fb-f6ce-49c4-ba1d-3ca11e85bfc5/documents {
    // Enable full client-side read/write access for all collections of the Bunyan ERP Applet
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
